/* css reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* vdl style */
*{
	box-sizing: border-box;
}

@font-face {
  font-family: 'Beleren-Bold';
  src: url('../fonts/Beleren-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Beleren-Bold.woff') format('woff'),
    url('../fonts/Beleren-Bold.ttf')  format('truetype'),
    url('../fonts/Beleren-Bold.svg#Beleren-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

body{
  font-size: 18px;
  line-height: 1.2em;
  margin:0;
	font-family: 'helvetica neue', arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color:#565656;
}

#search {
  font-size:1em;
  margin-right: 15px;
  margin-bottom:45px;
}

h1 {
  font-size: 2em;
  padding: 0.5em 0;
}

h2 {
    font-size: 1.5em;
    text-align: center;
    margin: 0 0 30px;
}

label{
  display: block;
  width: 100%;
  margin-bottom: 5px
}

input, textarea {
  border: 1px solid #565656;
  width:100%;
  padding:10px;
  font-family:'helvetica neue', arial, sans-serif;
}

input, textarea, button{
  font-size:1em;
  margin-bottom: 15px;
  display:block;
}

p{
  margin-bottom: 1em;
}

a {
  text-decoration: none;
  color: #673AB7;
  font-weight: bold;
}

a:hover, a:active, a:focus{
  color:#512DA8;
}

ul {
  list-style: disc;
  padding-left: 30px;
}

ul li{
  margin: 0.3em;
}

small {
  font-size: 0.8em;
}

.button-open{
    border:5px solid #673AB7;
    color: #673AB7;
    padding: 15px 45px;
    cursor: pointer;
    font-size: 22px;
    font-weight: bold;
    background-transparent;
}

.button-open:hover, .button-open:active{
    background: #512DA8;
    border-color: #512DA8; 
    color:#ffffff;  
}

.button-primary {
    background: #673AB7;
    border: 0 none;
    color: #fff;
    padding: 15px 45px;
    cursor: pointer;
    font-size: 22px;
    font-weight: bold;
}

.button-primary:hover, .button-primary:active {
    background: #512DA8;
}

button#screenshot{
  width:290px;
  margin:0 auto;
}

.container{
  margin: 0 auto;
  padding:0 15px;
  width:100%;
}

@media(min-width:768px){
  .container{
    width:738px;
  }
}

@media(min-width:992px){
  .container{
    width:962px;
  }
}

@media(min-width:1200px){
  .container{
    width:1170px;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col{
  max-width: 100%
}

.col-right{
  width:350px;
}

@media(min-width:768px){
  .col{
    width:50%;
  }
}

header {
  font-family: 'Beleren-Bold';
  margin-bottom: 45px;
  box-shadow: 0px -1.5px 15px #BDBDBD;
}

.top{
  padding-bottom:25px;
}

.please-wait{
  text-align: center;
}

.card{
	padding: 0 10px;
	position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 30px;
  background-position:32px -90px;
  border-bottom: 3px solid #141011;
  background-size: 100%;
  overflow: hidden;
}
.card-bg {
    width: 100%;
    position: absolute;
    height: 30px;
    background-position: -38px -75px;
    background-size: 125%;
    background-repeat: no-repeat;
    right: 0;
    top: 0;
}
.split-card .card-bg {
    transform: rotate(90deg);
    height: 350px;
    width: 350px;
    background-size: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    background-position: -71px -59px;
}
.deck-name{
  padding: 0 35px;
  height: 35px;
  text-align: right;
  border-bottom: 3px solid #777;
  font-size: 18px;
}
.card-darken, .card-flex{
	z-index: 2;
}
.card .card-darken{
	display:block;
	content:'';
	width:100%;
	height:30px;
	position:absolute;
	top:0;
	left:0;
	/*background:linear-gradient( to right, rgba(0,0,0,1), transparent);*/
  /*background-image: url(../images/gradient-overlay.png);*/
  background-size: cover;
	z-index: 1;
  overflow:hidden;
}
.card .card-flex{
  width: 100%;
  display:flex;
  justify-content: space-between;
}
.divider .card-flex div {
    width: 100%;
    text-align: right;
}
.visual-deck-list{
  /*font-family: Beleren-Bold;*/
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	width:290px;
	border-top: 10px solid transparent;
	border-bottom:10px solid transparent;
	border-radius:5px;
	border-color: #0e0b0c;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  text-shadow: 2px 2px 5px #000;
  background:#0e0b0c;
  margin:0 auto 15px;
}
.col-right > * {
  display:none;
}
.col-right.active > *{
  display: block;
}
.built-with {
  color: #bababa;
  font-size: 12px;
  text-align: center;
  padding: 5px 0 0 0;
  font-family: 'helvetica neue', arial, sans-serif;
}

.middle{
  background: #dcc7ff;
  padding: 25px 0;
}

footer{
  padding:25px 0;
  background: #673ab7;
  color: white;
}

footer p.disclaimer{
  font-size:0.8em;
}

footer a{
  color: #dcc7ff;
}

footer a:hover, footer a:active{
  color:#ffffff;

}

.hidden{
  display:none;
}

.canvas-container{
  display:none;
  flex-direction:column;
  align-items:center;
  justify-content: center;
  position:absolute;
  left:0;
  top:0;
  width:100%;
  height: 100vh;
  color:#ffffff;
  background:rgba(0,0,0,0.8);
  z-index: 999;
}

body.canvas-active{
  overflow: hidden;
}

body.canvas-active .canvas-container{
  display:flex;
}

.canvas-container .close{
  position:absolute;
  top:10px;
  right:10px;
  color:#ffffff;
}

.canvas-container .close:hover{
  opacity: 0.8;
  cursor:pointer;
}

canvas{
  max-width:290px;
  max-height: 90vh;
}

  .mana {
    display: inline-block;
    width: 20px;
    height: 21px;
    background-image: url(mana-symbol-sprite.png);
    background-repeat: no-repeat;
    background-size: 262px;
    border-radius: 10px;
    box-shadow: 1px 1px 1px #000;
  }
  .m-c{
    background-position:0px 0px;
  }
  .m-0{
    background-position: -20px 0px;
  }
  .m-1{
    background-position: -40px 0px;
  }
  .m-2{
    background-position: -60px 0px;
  }
  .m-3{
    background-position: -80px 0px;
  }
  .m-4{
    background-position:-100px 0px
  }
  .m-5{
    background-position: -120px 0px;
  }
  .m-6{
    background-position: -140px 0px;
  }
  .m-7{
    background-position: -160px 0px;
  }
  .m-8{
    background-position: -180px 0px;
  }
  .m-9{
    background-position:-200px 0px;
  }
  .m-10{
    background-position:-20px -21px;
  }
  .m-11{
    background-position: -40px -21px
  }
  .m-12{
    background-position: -60px -21px
  }
  .m-13{
    background-position: -80px -21px
  }
  .m-14{
    background-position: -100px -21px
  }
  .m-15{
    background-position: -120px -21px
  }
  /*need to do 16-20, they're on the sheet*/
  .m-x{
    background-position: -40px -40px
  }
  .m-y{
    background-position: -60px 40px
  }
  .m-z{
    background-position: -80px -40px
  }
  .m-w{
    background-position: -100px -40px
  }
  .m-u{
    background-position: -120px -40px
  }
  .m-b{
    background-position: -140px -40px
  }
  .m-r{
    background-position: -160px -40px
  }
  .m-g{
    background-position: -180px -40px
  }
  .m-s{
    background-position: -200px -40px;
  }
  .m-wu{
    background-position:-20px -60px;
  }
  .m-wb{
    background-position: -40px -60px
  }
  .m-ub{
    background-position: -60px -60px
  }
  .m-ur{
    background-position: -80px -60px
  }
  .m-br{
    background-position: -100px -60px
  }
  .m-bg{
    background-position: -120px -60px
  }
  .m-rw{
    background-position:-140px -60px;
  }
  .m-rg{
    background-position: -160px -60px
  }
  .m-gw{
    background-position: -180px -60px
  }
  .m-gu{
    background-position: -200px -60px
  }
  .m-2w{
    background-position:-20px -80px;
  }
  .m-2u{
    background-position: -40px -80px
  }
  .m-2b{
    background-position: -80px -80px
  }
  .m-2r{
    background-position: -80px -80px
  }
  .m-2g{
    background-position: -100px -80px
  }
  .m-wp{
    background-position: -120px -80px
  }
  .m-up{
    background-position:-140px -80px;
  }
  .m-bp{
    background-position: -160px -80px
  }
  .m-rp{
    background-position: -180px -80px
  }
  .m-gp{
    background-position: -200px -80px
  }
  
