
  .mana {
    display: inline-block;
    width: 20px;
    height: 21px;
    background-image: url(mana-symbol-sprite.png);
    background-repeat: no-repeat;
    background-size: 262px;
    border-radius: 10px;
    box-shadow: 1px 1px 1px #000;
  }
  .m-c{
    background-position:0px 0px;
  }
  .m-0{
    background-position: -20px 0px;
  }
  .m-1{
    background-position: -40px 0px;
  }
  .m-2{
    background-position: -60px 0px;
  }
  .m-3{
    background-position: -80px 0px;
  }
  .m-4{
    background-position:-100px 0px
  }
  .m-5{
    background-position: -120px 0px;
  }
  .m-6{
    background-position: -140px 0px;
  }
  .m-7{
    background-position: -160px 0px;
  }
  .m-8{
    background-position: -180px 0px;
  }
  .m-9{
    background-position:-200px 0px;
  }
  .m-10{
    background-position:-20px -21px;
  }
  .m-11{
    background-position: -40px -21px
  }
  .m-12{
    background-position: -60px -21px
  }
  .m-13{
    background-position: -80px -21px
  }
  .m-14{
    background-position: -100px -21px
  }
  .m-15{
    background-position: -120px -21px
  }
  /*need to do 16-20, they're on the sheet*/
  .m-x{
    background-position: -40px -40px
  }
  .m-y{
    background-position: -60px 40px
  }
  .m-z{
    background-position: -80px -40px
  }
  .m-w{
    background-position: -100px -40px
  }
  .m-u{
    background-position: -120px -40px
  }
  .m-b{
    background-position: -140px -40px
  }
  .m-r{
    background-position: -160px -40px
  }
  .m-g{
    background-position: -180px -40px
  }
  .m-s{
    background-position: -200px -40px;
  }
  .m-wu{
    background-position:-20px -60px;
  }
  .m-wb{
    background-position: -40px -60px
  }
  .m-ub{
    background-position: -60px -60px
  }
  .m-ur{
    background-position: -80px -60px
  }
  .m-br{
    background-position: -100px -60px
  }
  .m-bg{
    background-position: -120px -60px
  }
  .m-rw{
    background-position:-140px -60px;
  }
  .m-rg{
    background-position: -160px -60px
  }
  .m-gw{
    background-position: -180px -60px
  }
  .m-gu{
    background-position: -200px -60px
  }
  .m-2w{
    background-position:-20px -80px;
  }
  .m-2u{
    background-position: -40px -80px
  }
  .m-2b{
    background-position: -80px -80px
  }
  .m-2r{
    background-position: -80px -80px
  }
  .m-2g{
    background-position: -100px -80px
  }
  .m-wp{
    background-position: -120px -80px
  }
  .m-up{
    background-position:-140px -80px;
  }
  .m-bp{
    background-position: -160px -80px
  }
  .m-rp{
    background-position: -180px -80px
  }
  .m-gp{
    background-position: -200px -80px
  }
 