
@font-face {
  font-family: 'Beleren-Bold';
  src: url('Beleren-Bold.eot?#iefix') format('embedded-opentype'),  url('Beleren-Bold.woff') format('woff'), url('Beleren-Bold.ttf')  format('truetype'), url('Beleren-Bold.svg#Beleren-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
